MSLA.Client/Service References/MSLAService/MSLAService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MSLA.Server.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MSLA.Server.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49633/MSLAService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:49633/MSLAService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:simpleType name="EnDataCommandType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Text">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="StoredProcedure">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TableDirect">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">512</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnDataCommandType" nillable="true" type="tns:EnDataCommandType" />
  <xs:complexType name="ArrayOfDataParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataParameter" nillable="true" type="tns:DataParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataParameter" nillable="true" type="tns:ArrayOfDataParameter" />
  <xs:complexType name="DataParameter">
    <xs:sequence>
      <xs:element name="_DBType" type="tns:DataParameter.EnDataParameterType" />
      <xs:element name="_Direction" type="tns:DataParameter.EnParameterDirection" />
      <xs:element name="_ParameterName" nillable="true" type="xs:string" />
      <xs:element name="_Precision" type="xs:unsignedByte" />
      <xs:element name="_Scale" type="xs:unsignedByte" />
      <xs:element name="_Size" type="xs:int" />
      <xs:element name="_Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataParameter" nillable="true" type="tns:DataParameter" />
  <xs:simpleType name="DataParameter.EnDataParameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BigInt" />
      <xs:enumeration value="Binary" />
      <xs:enumeration value="Bit" />
      <xs:enumeration value="Char" />
      <xs:enumeration value="DateTime" />
      <xs:enumeration value="Decimal" />
      <xs:enumeration value="Float" />
      <xs:enumeration value="Image" />
      <xs:enumeration value="Int" />
      <xs:enumeration value="Money" />
      <xs:enumeration value="NChar" />
      <xs:enumeration value="NText" />
      <xs:enumeration value="NVarChar" />
      <xs:enumeration value="Real" />
      <xs:enumeration value="UniqueIdentifier" />
      <xs:enumeration value="SmallDateTime" />
      <xs:enumeration value="SmallInt" />
      <xs:enumeration value="SmallMoney" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="Timestamp" />
      <xs:enumeration value="TinyInt" />
      <xs:enumeration value="VarBinary" />
      <xs:enumeration value="VarChar" />
      <xs:enumeration value="Variant" />
      <xs:enumeration value="Xml">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">25</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Udt">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">29</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Structured">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Date">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">31</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Time">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DateTime2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">33</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DateTimeOffset">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">34</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DataParameter.EnDataParameterType" nillable="true" type="tns:DataParameter.EnDataParameterType" />
  <xs:simpleType name="DataParameter.EnParameterDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Input">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Output">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InputOutput">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ReturnValue">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DataParameter.EnParameterDirection" nillable="true" type="tns:DataParameter.EnParameterDirection" />
  <xs:simpleType name="DBConnectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MainDB" />
      <xs:enumeration value="CompanyDB" />
      <xs:enumeration value="CompanyDMSDB" />
      <xs:enumeration value="OLTPDB" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DBConnectionType" nillable="true" type="tns:DBConnectionType" />
  <xs:complexType name="SimpleTable">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Columns" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Rows" nillable="true" type="tns:ArrayOfArrayOfSimpleField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleTable" nillable="true" type="tns:SimpleTable" />
  <xs:complexType name="ArrayOfArrayOfSimpleField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfSimpleField" nillable="true" type="tns:ArrayOfSimpleField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfSimpleField" nillable="true" type="tns:ArrayOfArrayOfSimpleField" />
  <xs:complexType name="ArrayOfSimpleField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleField" nillable="true" type="tns:SimpleField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSimpleField" nillable="true" type="tns:ArrayOfSimpleField" />
  <xs:complexType name="SimpleField">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleField" nillable="true" type="tns:SimpleField" />
</xs:schema>