MSLA.Client/Service References/MSLAService/MSLAService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MSLA.Server_WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MSLA.Server_WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49633/MSLAService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:49633/MSLAService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MSLA.Server.Security" />
  <xs:complexType name="MasterCriteriaBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocMasterType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocMaster_ID" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PropertyCollection" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MSLA.Server.Security" minOccurs="0" name="UserInfo" nillable="true" type="q2:SimpleUserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterCriteriaBase" nillable="true" type="tns:MasterCriteriaBase" />
</xs:schema>