MSLA.Client/Service References/MSLAService/MSLAService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MSLA.Server.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MSLA.Server.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49633/MSLAService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SimpleUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Session_ID" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_ID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleUserInfo" nillable="true" type="tns:SimpleUserInfo" />
</xs:schema>